extends layout

block content
  h1 #{title}
  p Welcome to #{title}, #{user}
  - let str = JSON.stringify(posts)
  - let parsed = JSON.parse(str)
  each post in parsed
    p #{post.body}
    if (post.author === null)
      p user not found
    else
      p #{post.author.username} 
    if post.comments.length > 0
      p #{post.comments} 
    else 
      p No Comments
    p #{post.likes} Likes
    p #{post.timestamp}
    a(href=`/posts/${post._id}/delete-post`) Delete Post
  a(href='/new-post') New Post
  a(href='/logout') Logout