extends layout

block content
    div.homepage-body   
        div.homepage-left   
            img.text-logo(src="https://see.fontimg.com/api/renderfont4/JRzmB/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiIzgyOEMzMCIsInQiOjF9/SW5zdGFCb29r/brilliant-mastaka.png" alt="Instagram fonts")
            div.homepage-links
                div.homepage-left-link
                    a(href='/')
                        img.icon(src="icons/home.png")
                    a.active-link(href='/') Home
                div.homepage-left-link
                    a(href='/users')
                        img.icon(src='icons/magnify.png')
                    a(href='/users') Search
                //div.homepage-left-link  add this later
                    img.icon(src='icons/send-outline.png')
                    p Messages
                //div.homepage-left-link   add this later
                    img.icon(src='icons/heart-outline.png')
                    p Notifications
                div.homepage-left-link
                    a(href='/new-post')
                        img.icon(src='icons/plus-box-outline.png')
                    a(href='/new-post') Create
                div.homepage-left-link  
                    a(href=`/user/${user._id}`)
                        img.icon(src='icons/account-circle-outline.png')
                    a(href=`/user/${user._id}`) Profile
                a.logout-link(href='/logout') Logout
        div.homepage-center 
            - let str = JSON.stringify(posts)
            - let parsed = JSON.parse(str)
            - let friendStr = JSON.stringify(user.friends_list.current_friends)
            each post in parsed
                - if (user.username.toString() === "guest_user")
                    div.post-card.body(id=`post-card-${post._id}`)
                        div.post-card-poster
                            a.username-link(href=`/user/${post.author._id}`)
                                img.icon(src='icons/account-circle-outline.png')
                            a.username-link(href=`/user/${post.author._id}`) 
                                p #{post.author.username}
                            p #{post.timestamp}
                            - var handleClickPostID = post._id
                            button.context-menu-link(type='submit' onclick="handleClick(handleClickPostID)")
                                | ...
                                script.
                                    var handleClick = function() {
                                        var div = document.getElementById(`context-menu-id-${postID}`);
                                        if (div.style.display === "none") {
                                            div.style.display = "block";
                                        } else {
                                            div.style.display = "none";
                                        }
                                    };
                        p.post-body #{post.body}
                        div.post-card-interaction
                            - let likedUsers = JSON.stringify(post.liked_users)
                                - if (likedUsers.includes(user._id.toString()))
                                    form(action=`/posts/${post._id}/unlike-post` method='POST')
                                        div.form-group
                                            button.btn.btn-primary.heart-button(type='submit')
                                                img.icon(src='icons/heart-outline-red.png')
                                - else 
                                    form(action=`/posts/${post._id}/like-post` method='POST')
                                        div.form-group
                                            button.btn.btn-primary.heart-button(type='submit')
                                                img.icon(src='icons/heart-outline.png')
                            a(href=`/posts/${post._id}/comments`)
                                img(src='icons/comment-outline.png')
                            //img.icon(src='icons/send-outline.png')
                            //img.icon(src='icons/bookmark-outline.png')
                        p #{post.likes} Likes
                        if post.comments.length > 0
                            a(href=`posts/${post._id}/comments`) 
                                p View all #{post.comments.length} comments 
                        else 
                            p No Comments
                - if (friendStr.includes(post.author._id.toString()) || user._id.toString() === post.author._id.toString())
                    div.post-card.body(id=`post-card-${post._id}`)
                        div.post-card-poster
                            a.username-link(href=`/user/${post.author._id}`)
                                img.icon(src='icons/account-circle-outline.png')
                            a.username-link(href=`/user/${post.author._id}`) 
                                p #{post.author.username}
                            p #{post.timestamp}
                            button.context-menu-link(type='submit' onclick="handleClick('" + post._id + "')")
                                | ...
                                script.
                                    var handleClick = function(postID) {
                                        var contextMenu = document.getElementById(`context-menu-id-${postID}`);
                                        var post = document.getElementById(`post-card-${postID}`);
                                        if (contextMenu.style.display === "flex") {
                                            contextMenu.style.display = "none";
                                            post.style.display = 'flex';
                                        } else {
                                            contextMenu.style.display = "flex";
                                            post.style.display = 'none';
                                        }
                                    };
                        p.post-body #{post.body}
                        div.post-card-interaction
                            - let likedUsers = JSON.stringify(post.liked_users)
                            - if (likedUsers.includes(user._id.toString()))
                                form(action=`/posts/${post._id}/unlike-post` method='POST')
                                    div.form-group
                                        button.btn.btn-primary.heart-button(type='submit')
                                            img.icon(src='icons/heart-outline-red.png')
                            - else 
                                form(action=`/posts/${post._id}/like-post` method='POST')
                                    div.form-group
                                        button.btn.btn-primary.heart-button(type='submit')
                                            img.icon(src='icons/heart-outline.png')
                            a(href=`/posts/${post._id}/comments`)
                                img(src='icons/comment-outline.png')
                            //img.icon(src='icons/send-outline.png')
                            //img.icon(src='icons/bookmark-outline.png')
                        p #{post.likes} Likes
                        if post.comments.length > 0
                            a(href=`posts/${post._id}/comments`) 
                                p View all #{post.comments.length} comments 
                        else 
                            p No Comments                                    
                        if (post.author._id.toString() === user._id.toString())
                            div.post-edit-delete
                                a(href=`/posts/${post._id}/delete-post`) Delete Post
                                a(href=`/posts/${post._id}/edit-post`) Edit Post
                - let contextMenuID = post._id
                div.context-menu(id=`context-menu-id-${post._id}`)
                    div.context-menu-links
                        form(action=`/users/${post.author._id}/remove-friend` method='POST')
                            button.btn.btn-primary.remove-friend-button(type='submit') Remove Friend
                        form(action=`/posts/${post._id}/fav-post` method='POST')
                            button.btn.btn-primary.fav-post-button(type='submit') Add to favorites
                        p Go to Post 
                        p About this account 
                    p.context-menu-cancel-link(onclick="handleClick('" + post._id + "')") Cancel 
        div.homepage-right
            // Add 'Users You Might Know' feature
            p People You May Know
            // a(href='/new-post') New Post
            // a(href='/logout') Logout
            // a(href='/users') User Index
            // a(href='/index-test') Index Test