extends layout 

block content 
    div.homepage-body 
        div.homepage-left
            img.text-logo(src="https://see.fontimg.com/api/renderfont4/JRzmB/eyJyIjoiZnMiLCJoIjo1MywidyI6MTAwMCwiZnMiOjUzLCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiIzgyOEMzMCIsInQiOjF9/SW5zdGFCb29r/brilliant-mastaka.png" alt="Instagram fonts")
            div.homepage-links
                div.homepage-left-link
                    a(href='/')
                        img.icon(src="/icons/home-outline.png")
                    a(href='/') Home
                div.homepage-left-link
                    a(href='/users')
                        img.icon(src='/icons/magnify.png')
                    a(href='/users') Search
                div.homepage-left-link
                    a(href='/messages')
                        img.icon(src='/icons/send.png')
                    a.active-link(href='/messages') Messages
                div.homepage-left-link
                    a(href=`/notifications/${current_user._id}`)
                        img.icon(src='/icons/heart-outline.png')
                    a(href=`/notifications/${current_user._id}`) Notifications
                div.homepage-left-link
                    a(href='/new-post')
                        img.icon(src='/icons/plus-box-outline.png')
                    a(href='/new-post') Create
                div.homepage-left-link  
                    a(href=`/user/${current_user._id}._id}`)
                        img.icon(src='/icons/account-circle.png')
                    a(href=`/user/${current_user._id}`) Profile
                a.logout-link(href='/logout') Logout
        div.homepage-center    
            h1 Messages
            for message in JSON.parse(messages) 
                if (message.user_1.username.toString() === current_user.username.toString())
                    a(href=`/conversation/${message._id}`)
                        p #{message.user_2.username}
                        - const lastMessage = message.messages.slice(-1)[0]
                        - if (lastMessage.sender.toString() === current_user._id.toString())
                            p You: #{lastMessage.body}
                        - else 
                            p #{lastMessage.body}
                else 
                    a(href=`/conversation/${message._id}`)
                        p #{message.user_1.username}
                        - const lastMessage = message.messages.slice(-1)[0]
                        - if (lastMessage.sender.toString() === current_user._id.toString())
                            p You: #{lastMessage.body}
                        - else 
                            p #{lastMessage.body}
            