- let str = JSON.stringify(user)
- let parsed = JSON.parse(str) 
each user_info in parsed

    doctype html
    html
    head
        title #{user_info.username}'s Profile
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
            h1 User
                h2 #{user_info.username}
                p #{user_info.first_name} #{user_info.last_name}
                p #{user_info.friends_list.current_friends.length} Friends
                - let postStr = JSON.stringify(posts)
                - let postParsed = JSON.parse(postStr)
                each post in postParsed 
                    p #{post.body} 
                    p #{post.timestamp}
            for friend in current_user.friends_list.current_friends 
                if (user_info._id.toString() === friend.toString())
                    p Friend 
            for friend in current_user.friends_list.sent_requests
                if (user_info._id.toString() === friend.toString())
                    p Friend Request Pending
            for friend in current_user.friends_list.received_requests    
                if (user_info._id.toString() === friend.toString()) 
                    form(action=`/users/${user_info._id}/accept-friend` method='POST')
                        div.form-group 
                            button.btn.btn-primary(type='submit') Accept Friend Request
            - let friendStr = JSON.stringify(current_user.friends_list.current_friends)
            - let receivedStr = JSON.stringify(current_user.friends_list.received_requests)
            - let sentStr = JSON.stringify(current_user.friends_list.sent_requests)
                - if (!(friendStr.includes(user_info._id.toString())) && !(receivedStr.includes(user_info._id.toString())) && !(sentStr.includes(user_info._id.toString())))
                    form(action=`/users/${user_info._id}` method='POST')
                        div.form-group 
                            button.btn.btn-primary(type='submit') Add Friend