extends layout 

block content 
    a(href='/') Back to home page
    p Welcome, #{current_user.username}
    h1 Users
    - let str = JSON.stringify(users)
    - let parsed = JSON.parse(str)
    each user in parsed 
        div(class='user-cards')
            h3 #{user.last_name}, #{user.first_name} 
            p #{user.username} 
            if (user.friends_list)
                if (user._id.toString() === current_user.friends_list.current_friends.toString())
                    p Friend 
                else if (user._id.toString() === current_user.friends_list.received_requests.toString() || user._id === current_user.friends_list.sent_requests.toString())
                    p Friend Request Pending
                else 
                    form(action=`/user/${user._id}` method='POST')
                        div.form-group 
                            button.btn.btn-primary(type='submit') Add Friend