extends layout 

block content 
    a(href='/') Back to home page
    h1 Users
    - let str = JSON.stringify(users)
    - let parsed = JSON.parse(str)
    each user in parsed 
        div(class='user-cards')
            a(href=`/user/${user._id}`)
                h3 #{user.last_name}, #{user.first_name} 
                p #{user.username} 
            for friend in current_user.friends_list.current_friends 
                if (user._id.toString() === friend.toString())
                    p Friend 
            for friend in current_user.friends_list.sent_requests
                if (user._id.toString() === friend.toString())
                    p Friend Request Pending
            for friend in current_user.friends_list.received_requests    
                if (user._id.toString() === friend.toString()) 
                    form(action=`/users/${user._id}/accept-friend` method='POST')
                        div.form-group 
                            button.btn.btn-primary(type='submit') Accept Friend Request
            - let friendStr = JSON.stringify(current_user.friends_list.current_friends)
            - let receivedStr = JSON.stringify(current_user.friends_list.received_requests)
            - let sentStr = JSON.stringify(current_user.friends_list.sent_requests)
                - if (!(friendStr.includes(user._id.toString())) && !(receivedStr.includes(user._id.toString())) && !(sentStr.includes(user._id.toString())) && current_user._id.toString() !== user._id.toString())
                    form(action=`/users/${user._id}` method='POST')
                        div.form-group 
                            button.btn.btn-primary(type='submit') Add Friend